In [12]:
import numpy as np
import pandas as pd

In [14]:
d = { 
    "One": pd.Series([1.0, 2.0, 3.0], index=["a","b", "c"]),
    "Two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a","b", "c", "d"]),
}
df = pd.DataFrame(d)
df

   One  Two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [20]:
Series2 = pd.Series([10,20,30,40,50], index=['a','b','c','d','e'])
print(Series2)
Series3=pd.Series([103,201,3025,40000,5500], index=['a','b','c','d','e'])
print(Series3)
Series4=pd.Series([1000,205,305,405,500], index=['a','b','c','d','e'])
print(Series4)                
Series5=pd.Series([108,201,30,409,501], index=['a','b','c','d','e'])
print(Series5)                
Series6=pd.Series([109,202,30,404,501], index=['a','b','c','d','e'])
print(Series6)                
Series7=pd.Series([1044,203,30,406,502], index=['a','b','c','d','e'])
print(Series7)                
Series8=pd.Series([1045,204,30,405,503], index=['a','b','c','d','e'])
print(Series8)                
Series9=pd.Series([1066,205,30,404,504], index=['a','b','c','d','e'])
print(Series9)                
Series10=pd.Series([12010,206,30,430,505], index=['a','b','c','d','e'])
print(Series10)                
Series11=pd.Series([101,20,307,402,506], index=['a','b','c','d','e'])
print(Series10)

a    10
b    20
c    30
d    40
e    50
dtype: int64
a      103
b      201
c     3025
d    40000
e     5500
dtype: int64
a    1000
b     205
c     305
d     405
e     500
dtype: int64
a    108
b    201
c     30
d    409
e    501
dtype: int64
a    109
b    202
c     30
d    404
e    501
dtype: int64
a    1044
b     203
c      30
d     406
e     502
dtype: int64
a    1045
b     204
c      30
d     405
e     503
dtype: int64
a    1066
b     205
c      30
d     404
e     504
dtype: int64
a    12010
b      206
c       30
d      430
e      505
dtype: int64
a    12010
b      206
c       30
d      430
e      505
dtype: int64

In [27]:
# Now covert those series in one datastructure (dataframe)
Dataframe_1 =pd.DataFrame({"column 1":Series2,
                           "column 2":Series3,
                           "column 3":Series4,
                           "column 4":Series5,
                           "column 5":Series6,
                           "column 6":Series7,
                           "column 7":Series8,
                           "column 8":Series9,
                           "column 9":Series10,
                           "column 10":Series11})
Dataframe_1

,column 1,column 2,column 3,column 4,column 5,column 6,column 7,column 8,column 9,column 10
a,10,103,1000,108,109,1044,1045,1066,12010,101
b,20,201,205,201,202,203,204,205,206,20
c,30,3025,305,30,30,30,30,30,30,307
d,40,40000,405,409,404,406,405,404,430,402
e,50,5500,500,501,501,502,503,504,505,506